.navbar{
    width : 1200px;
    height : 150px;
    border : solid 2px red;
    background-color : grey;
    margin-left :340px;

    
}
.navbar ul li{
    
    list-style : none;
    display : inline-block;
    margin : 20px;
    text-align : center;
}
.banner{
    width : 100%;
    height : 100vh;
background-image : url(./templatemo_slide_2.jpg);
background-size : cover;
    
}
.image{
    display : inline-block;
    margin : 50px;
    margin-top : -60px;
}
.img{
    display : inline-block;
    margin-left  : 450px;
}

